@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sidebar h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.sidebar_4 {
  background: linear-gradient(220.16deg, #275508 -8%, #02f322 138%);
}
.sidebar_3 {
  background: linear-gradient(215.32deg, #f90306 -1%, #9e0706 124%);
}

.sidebar_2 {
  background: linear-gradient(221.87deg, #8308ea 1%, #5305af 128%);
}

.sidebar_1 {
  background: linear-gradient(229.99deg, #11dee9 -26%, #017e8b 145%);
}

.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.slide_1 {
  background-image: url("https://images.unsplash.com/photo-1496196614460-48988a57fccf?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDQzfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}
.slide_2 {
  background-image: url("https://images.unsplash.com/photo-1600699260196-aca47e6d2125?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDZ8NnNNVmpUTFNrZVF8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}
.slide_3 {
  background-image: url("https://images.unsplash.com/photo-1614914135224-925593607248?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDU1fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}

.slide_4 {
  background-image: url("https://images.unsplash.com/photo-1622487993206-868861952b24?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDM0fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}

.controls {
  position: absolute;
  left: 35%;
  top: 50%;
  background-color: inherit;
  width: 100px;
  z-index: 100;
  transform: translate(-50%, -50%);
  position: relative;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button > i {
  pointer-events: none;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.down-button {
  transform: translateY(50%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.up-button {
  transform: translateY(-50%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
